body {
  margin: 0;
  font-size: 18px;
  height: 100vh;
}

.maincontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mycontainer {
  margin: 0;
  background: url("../../images/bg1.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100vh;
}

.mycontainer nav {
  position: fixed;
  width: 100%;
  background: #181818;
  overflow: hidden;
  z-index: 1;
}

.mycontainer nav .navbar-brand {
  font-size: 2rem;
  color: white;
}

.mycontainer nav .nav-link {
  font-size: 17px;
  text-align: center;
  font-weight: lighter;
  color: white;
}

.mycontainer nav .nav-link:hover {
  color: #08fdd8;
}

.mycontainer nav .navbar-toggler {
  background-color: #ffffff;
}

.mycontainer nav .navbar-toggler .menubar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 3px;
}

.mycontainer .bg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  height: 76vh;
  margin: 5rem auto;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3em;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.mycontainer .bg .bgtext .lineing {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  width: 100%;
}

.mycontainer .bg .bgtext .lineing h1 {
  text-align: center;
  font-size: 5rem;
  font-family: consolas;
}

.mycontainer .bg .bgtext .lineing h1 .txt-type > .txt {
  border-right: 0.2rem solid #777;
}

.mycontainer .bg .bgtext .lineing h3 {
  text-align: center;
}

.aboutcontainer {
  width: 100%;
  height: 100vh;
  background: url("../../images/bg2.jpg") no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.aboutcontainer .writing {
  width: 100%;
  height: 89vh;
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutcontainer .writing .hex {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 200px;
  height: 200px;
  background-color: #6C6;
  border-radius: 7rem;
  background: url("../../images/myphoto.jpg") no-repeat center center/cover;
}

.aboutcontainer .writing h1 {
  text-align: center;
  font-size: 4rem;
  color: #08fdd8;
}

.aboutcontainer .writing h4 {
  text-align: center;
  top: 50%;
  color: white;
  margin-top: 4rem;
}

.aboutcontainer .skills {
  width: 65%;
  height: 75vh;
  margin-top: 100px;
  margin-right: 7rem;
  border-radius: 5rem;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 5px 5px 5px #222020;
          box-shadow: 5px 5px 5px #222020;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: auto;
}

.aboutcontainer .skills h1 {
  text-align: center;
  font-size: 3rem;
  color: #08fdd8;
}

.aboutcontainer .skills p {
  margin-left: 7rem;
  font-size: 19px;
  font-weight: bold;
  color: #08fdd8;
}

.aboutcontainer .skills .skillsnames {
  margin-left: 8rem;
  margin-top: -1rem;
  font-weight: lighter;
  color: white;
}

.projectsection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: -webkit-gradient(linear, left top, left bottom, from(#0390e2), to(#04ecd9));
  background: linear-gradient(#0390e2, #04ecd9);
}

.projectsection .projectmaincontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 6%;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-shadow: 0px 0px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 93%;
}

.projectsection .projectmaincontainer .projectcontainer {
  width: 390px;
  height: 400px;
  background: white;
  margin: 20px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  -webkit-box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.projectsection .projectmaincontainer .projectcontainer .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5%;
  transition: 0.5%;
}

.projectsection .projectmaincontainer .projectcontainer .content .imgbx {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-top: 1rem;
}

.projectsection .projectmaincontainer .projectcontainer .content .imgbx img {
  border-radius: 74px;
  width: 150px;
  height: 150px;
}

.projectsection .projectmaincontainer .projectcontainer .content .contentBx {
  text-align: center;
  color: #020202;
}

@media (max-width: 978px) {
  .mycontainer .bg {
    width: 57%;
    height: 57vh;
    margin: 12rem auto;
  }
  .mycontainer .bg .bgtext .lineing {
    width: 70%;
  }
  .mycontainer .bg .bgtext .lineing h1 {
    font-size: 2rem;
  }
  .mycontainer .bg .bgtext .lineing h3 {
    font-size: 14px;
  }
  .mycontainer nav .navbar-expand-lg {
    background: #181818;
    color: white;
  }
  .mycontainer nav .navbar-brand {
    background: url("../../images/logo.jpg") no-repeat center center/cover;
    width: 52px;
    height: 52px;
    margin-left: 10px;
    border-radius: 27px;
  }
  .mycontainer nav #home:after {
    position: absolute;
    content: "Home";
    width: 10%;
  }
  .mycontainer nav #about:after {
    position: absolute;
    content: "About";
    width: 10%;
  }
  .mycontainer nav #projects:after {
    position: absolute;
    content: "Projects";
    width: 12%;
  }
  .mycontainer nav #contact:after {
    position: absolute;
    content: "Contact";
    width: 12%;
  }
  .aboutcontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 170vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutcontainer .writing {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 80vh;
  }
  .aboutcontainer .skills {
    margin: 2px;
    height: 75vh;
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutcontainer .skills h1 {
    text-align: center;
    font-size: 3rem;
    color: #08fdd8;
  }
  .aboutcontainer .skills p {
    text-align: center;
    margin-left: 0rem;
    font-size: 22px;
    font-weight: bold;
  }
  .aboutcontainer .skills .skillsnames {
    margin-left: 0rem;
    margin-top: -1rem;
  }
  .projectsection .projectmaincontainer {
    margin: 1rem auto;
  }
  .projectsection .projectmaincontainer .projectcontainer {
    width: 98%;
    height: auto;
  }
  .projectsection .projectmaincontainer .projectcontainer .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .projectsection .projectmaincontainer .projectcontainer .content .imgbx {
    width: 50%;
    height: 50%;
    margin: 1rem;
  }
  .projectsection .projectmaincontainer .projectcontainer .content .imgbx img {
    width: 50%;
    height: 50%;
  }
}

@media (min-width: 978px) {
  .mycontainer nav {
    background: #181818;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 3%;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .mycontainer nav .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 9rem;
  }
  .mycontainer nav .navbar-brand {
    background: url("../../images/logo.jpg") no-repeat center center/cover;
    width: 52px;
    height: 52px;
    margin-left: 10px;
    border-radius: 27px;
  }
  .mycontainer nav .nav-link {
    margin-top: 2rem;
  }
  .mycontainer nav #home {
    overflow: hidden;
  }
  .mycontainer nav #home:after {
    position: absolute;
    content: "Home";
    width: 100%;
    opacity: 0%;
    right: 0;
  }
  .mycontainer nav #home:hover:after {
    width: 100%;
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    display: block;
  }
  .mycontainer nav #about {
    overflow: hidden;
  }
  .mycontainer nav #about:after {
    position: absolute;
    content: "About";
    width: 100%;
    opacity: 0%;
    right: 0;
  }
  .mycontainer nav #about:hover:after {
    width: 100%;
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    display: block;
  }
  .mycontainer nav #projects {
    overflow: hidden;
  }
  .mycontainer nav #projects:after {
    position: absolute;
    content: "Projects";
    width: 100%;
    opacity: 0%;
    right: 0;
  }
  .mycontainer nav #projects:hover:after {
    width: 100%;
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    display: block;
  }
  .mycontainer nav #contact {
    overflow: hidden;
  }
  .mycontainer nav #contact:after {
    position: absolute;
    content: "Contact";
    width: 100%;
    opacity: 0%;
    right: 0;
  }
  .mycontainer nav #contact:hover:after {
    width: 100%;
    opacity: 1;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    display: block;
  }
  .mycontainer .navbar-expand-lg {
    background: #181818;
    color: white;
  }
}
/*# sourceMappingURL=main.css.map */
